extend layout.jade

block content
    h1: a(href="#"): span 連結
    h2 #{menu.list[1].name}
    .container
        form(action="")
            label(for="email") 請輸入email
                input#email.form-control(type="text")
